header {
    text-align: center;
    margin-top: 0px;
    padding: 5px;
    background-color: slategrey;
    width: 100%;
    height: 150px;
}

#tableSection{
    text-align: center;
    float: center;
    width: 85%;
}

h1  {
    color: white;
    margin-top: 40px;
}

#form {
    text-align: center;
    margin: 50px;
}


.full_width {
     display:table; 
     width:100%;
     table-layout:fixed; 
     /* border-spacing:0; */
} 

/* body {
    padding:0;
    margin:0;
} */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 100px;
    justify-content: center;
}

.tableHeader {
    background-color: rgb(179, 177, 177);
    justify-content: center;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px;
    font-weight: normal;
    font-size: 20px;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */

#deleteFormat  {
    justify-content: center;
    
}


#calculator {
    text-align: right;
    padding: 20px;

}

.over {
    color: red;
    background-color: white;
}

#buttonSpace {
    color: rgb(179, 177, 177);
    background-color: rgb(179, 177, 177);
    justify-content: center;
    /* width: 13%; */
}

/* 
#tableRowSpace {
    padding: 8px;
    width: 60%;
    color: white;
    background-color: white;
    justify-content: center;
    border: none;
} */

#hidden {
  visibility: hidden;
}

#anSal {
    text-align: center;
}

 
.form-control {
    margin: 5px;
    margin-bottom: 30px;
}


.form-inline {
    margin: 0 auto;
    width: 80% ;
    margin-top: 30px;
}

#submitButton {
    margin: 5px;
    margin-bottom: 30px;
}

